<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagination</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>count</th>
        </tr>
        <% record.forEach(function(p){ %>
        <tr>
            <td><%=p.Name%></td>
            <td><%=p.Email%></td>
            <td><%=p.Count%></td>
        </tr>

        <% }) %>
    </table>
    
</body>
</html>